 
.navbar-header {
	margin-bottom: 20px
}

#logo {
	margin-top: -10px;
}

#app-navbar-collapse {
	margin-top: 8px;
}

.header-content {
    cursor: pointer;
    cursor: hand;
}

.header-icon {
    float: right;
}

td {
	padding: 10px;
}

.event-details {
	padding: 20px;
}

.event-row {
	width: 100%;
	border-radius: 5px;
}

.event-row:hover {
	background-color: #ddd;
}

.event-title {
	display: inline-block;
}

.event-title h5 {
	font-weight: bold;
	font-size: 15px;
}

.event-access-ico {
	font-size: 13px;
}

.event-btn-container {
	display: inline-block;
	padding-top: 6px;
	float: right;
}

.event-btn {
	display: inline-block;
	padding-left: 4px;
}
.btn-link {
	color: #333;
	font-size: 18px;
}

.public-filter {
	display: block;
}

.form-control {
	width: 80%;
	display: inline-block;
}

.creEvent {
	width: 19%;
	padding: 4px 16px;
}