 
.navbar-header {
	margin-bottom: 20px
}

#logo {
	margin-top: -10px;
}

#app-navbar-collapse {
	margin-top: 8px;
}

.header-content {
    cursor: pointer;
    cursor: hand;
}

.header-icon {
    float: right;
}
